.stack-col {
  padding-right: 0px !important;
  padding-left: 0px !important;
  border-style: none !important;
}

.stack-body {
  padding: 0px !important;
}

.stack-toggle {
  white-space: nowrap;
}

.stack-title {
  padding: 0px !important;
}

.no-wrap {
  white-space: nowrap;
}

.text-align-center {
  text-align: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.skills-list {
  white-space: nowrap;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
  justify-content: center;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.experience-card-header {
  padding: 0.75rem 0rem !important;
  border-bottom: none !important;
  width: 100%;
}

.no-border {
  border: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

@media only screen and (max-width: 600px) {
  .collapse {
    display: none;
  }

  .show {
    display: block !important;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul li {
  padding-left: 1em;
  text-indent: -1em;
}

#bg {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.social-row {
  height: 30px !important;
  width: 30px !important;
  margin: 2px;
}

.nav-item-link {
  color: gainsboro !important;
}
